.Sidebar {
    height: 100vh;
    .content {
        border-right: 1px solid #0000001a;
        height: 100%;
        overflow-y: scroll;
        word-break: break-word;
    }

    .section-title {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        border-bottom: 1px solid #0000001a;
        & .category-title {
            text-align: left;
            font: normal normal normal 15px/20px Avenir;
            letter-spacing: 0px;
            color: $complementary;
            opacity: 1;
        }
        li {
            padding-left: 10px;
            span {
                text-decoration: none;
                text-align: left;
                font: normal normal normal 15px/20px Avenir;
                letter-spacing: 0px;
                color: #000000;
                opacity: 1;
            }
        }
    }

    .select-container {
        .container {
            display: block;
            position: relative;
            padding-left: 30px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            user-select: none;
            display: flex;
        }
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 20px;
            width: 20px;
            background: #ffffff 0% 0% no-repeat padding-box;
            border: 2px solid #0000001a;
            transition: all .4s ease-out;
        }

        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .container input:checked ~ .checkmark {
            background: $complementary 0% 0% no-repeat padding-box;
            border: none;
            transition: all .4s ease-out;
        }
        .label {
            font: normal normal normal 15px/20px Avenir;
            letter-spacing: 0px;
            color: #5738ff;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .container input:checked ~ .checkmark:after {
            display: block;
        }

        .container .checkmark:after {
            left: 25%;
            top: 50%;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg) translate(-50%, -50%);
        }
    }
}
