* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
  html,
  body {
    height: 100%;
    font-family: "Avenir";
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow: auto;
  }
  
  img {
    max-width: 100%;
    display: block;
  }